<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
  <title>Stress Fit</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
.member{
  text-align: center;
}
</style>
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>
    </head>
    <body>
       <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Stress Fighter</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#services">Stress Test</a></li>
          
          <li><a href="#team">Reach Me !</a></li>
          <li class="menu-has-children"><a href="">External Help</a>
            <ul>
              <li><a href="https://www.google.com/search?q=counsellor&rlz=1C1CHZL_enIN803IN803&oq=counsellor+&aqs=chrome..69i57.24071j0j1&sourceid=chrome&ie=UTF-8">Counsellor Nearby</a></li>
              <li><a href="https://www.google.com/search?rlz=1C1CHZL_enIN803IN803&ei=BhmWXJqeK8aCyAPSh4OIDQ&q=support+by+WHO&oq=support+by+WHO&gs_l=psy-ab.3..0i71l8.33703.36673..36944...0.0..0.0.0.......0....1..gws-wiz.C4dbceDoF0I">Call Support by WHO</a></li>
              <li><a href="https://www.google.com/search?rlz=1C1CHZL_enIN803IN803&ei=BhmWXJqeK8aCyAPSh4OIDQ&q=chat+support&oq=chat+support&gs_l=psy-ab.3..0i22i30l3.40815.42594..42789...0.0..1.4214.14835.9-4......0....1..gws-wiz.......0.XtTc39XiCoA">Chat Support</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Feeling Stressed?</h2>
                <p>And Don't Know WHY ?</p>
                <a href="#services" class="btn-get-started scrollto">Start Test !!</a>
              </div>
            </div>
          </div>


        </div>

       

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <h4 class="title"><a href="">Generic Stress 
            </a></h4>
            <p class="description">Stress is a feeling of emotional or physical tension. It can come from any event or thought that makes you feel frustrated, angry or nervous.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <h4 class="title"><a href="">Relationship Stress</a></h4>
            <p class="description">Relationship conflict and stress have been shown to have a clear negative impact on health affecting blood pressure contributing to heart diseases and correlating with other conditions. </p>
          </div>

          <div class="col-lg-4 box">
            <h4 class="title"><a href="">Academic Stress 
            </a></h4>
            <p class="description">Academic Stress is a mental distress with respect to some anticipated frustration associated with academic failure or even unawareness to the possibility of such failure.</p>
          </div>

          <div class="col-lg-4 box">
            <h4 class="title"><a href="">Financial Stress 
            </a></h4>
            <p class="description">Feelings of Financial stress often stem from common issues such as carrying too much det, not earning enough money, and being unemployed.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <h4 class="title"><a href="">Social Media Stress 
            </a></h4>
            <p class="description">Among the common negative effects of social media use are stress,anxiety, depression, addiction, cyberbullying, hacking, scams, cheating and even death.</p>
          </div>

          <div class="col-lg-4 box">
            <h4 class="title"><a href="">Extra-Curricular Stress</a></h4>
            <p class="description">This stress arises where work demands of various types and combinations exceed the person's capability and capacity to cope up with various situations.</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Me</h3>

          <p>My name is yahoo.. i hate google.... i like devian..... budbsjidbsiubdcuisdncjibdsifvbudsvbhufdvbkhduf bchk dchkvbd chkvb dhkb vkdjhb vhkdbvhbhfdkvbhhkfdbvhfd vjhd vhj fdjvh devianjkfv kj
          jfd vjd vjkdnvjkdbcvjkbd kjv jkv kj jkc vjkcnvjkcxnvjkcxnvjkncxjkvnfdkjvnjkdfv jkdfbvkjdfvjkdbsuhiueryfvbirtiuerw gyewrgfiu ehoiehf iulrhgiurehgiusehfgi</p>
        </header>

        <div class="row about-cols">

          

          

         

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>TEST</h3>
          <p>On a scale of one to 5, with 5 being the worst, answer the following question:</p>
        </header>

        <div class="row text-center">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>

            <div class="quizo text-center"  id="quiz"></div>
            <div class="submito text-center">
            <button class="text-center" id="submit">Submit Quiz</button>
            <div id="results"></div>
            </div>
            <script src="js1.js"></script>
      </div>
    </section><!-- #services -->

    
   
    <!--==========================
      Skills Section
    ============================-->
    
    <!--==========================
      Facts Section
    ============================-->
    <!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    

    <!--==========================
      Clients Section
    ============================-->
  
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        

        <div class="owl-carousel testimonials-carousel">

          

          <div class="testimonial-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wnHW6o8WMas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Motivational Video</h3>
            
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              <h4>To rejuvenate your soul!</h4>
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <h5>Recomended for stress score : 0-40</h5>

          </div>
          <div class="testimonial-item">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/594181179&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            <h3>Calm Music</h3>
            
            
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              <h4>To Relax your neurons to the core !</h4>
             
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <h5>Recomended for stress score: 40-65 </h5>
          </div>

          <div class="testimonial-item">
            <img src="https://www.victimsservices.justice.nsw.gov.au/PublishingImages/Counselling.png" class="testimonial-img" alt="">
            <h3>Professional Counselling</h3>
            
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              <h4>For those, who just need a little bit of external push , to make it big in their lives!</h4>
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <h5>Recomended for stress score :65-75</h5>
          </div>


        </div>

      </div>
    </section>
  
<!--==========================
      Call To Action Section
    ============================-->
    <!-- #call-to-action -->


    <!--==========================
      Team Section
    ============================-->
     <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container">
          <div class="section-header wow fadeInUp">
            <h3>Reach Me</h3>
          </div>
  
          <div class="row">
  
            
  
            
  
            <div></div>
            <div></div>
            <div></div>
            <div></div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="public/img/yuvraj.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Harshita_B</h4>
                  
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Contact Section
      ============================-->
      <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
  
          <div class="section-header">
            <h3>Contact Details :</h3>
            <p></p>
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Address</h3>
                <address>Vellore Institute of Technology, Katpadi, Vellore, Tamil Nadu, 632014</address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+155895548855">+91 9498123466</a></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p><a href="mailto:info@example.com">info@example.com</a></p>
              </div>
            </div>
  
          </div>
  
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
  
        </div>
      </section><!-- #contact -->
  

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Stress Fighter</h3>
            <p></p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
                Vellore Institute of Technology<br>
                Katpadi<br>
                Vellore<br>
                Tamil Nadu<br>
                632014 <br>
              <strong>Phone:</strong> +91 9498123466<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p></p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

   

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
    </body>
</html>








